body,html{
    background-color: #282A36;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    color: #cccccc;
}
a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.bg-light {
    background-color: #ffffff!important;
    color: #FFFFFF !important;
    font-weight: bold !important;
}
.bg-vaga {
    background-color: #ffffff!important;
    color: #2c2b2b !important;
    font-weight: bold !important;
}
.bg-vaga-nav{
    background: #17181E!important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.jumbotron{
    padding-top:50px;
    background: #0f7553a8 url(../img/f4.png) center left no-repeat;
    background-size: cover;
    transition: background-size 5s;
}
.jumbotron:hover{
    background-size: 150%;
    transition-duration: 5s;
}

.btn-outline-primary {
    color: #0f7553a8;
    background-color: transparent;
    background-image: none;
    border-color: #073a22a8;
}
.btn-outline-primary:hover{
    color: #FFFFFF;
    background-color: #0f7553a8;
    border-color: #073a22a8;
}

.btn-outline-danger {
    color: #b65e5ba8;
    background-color: transparent;
    background-image: none;
    border-color: #520906a8;
}
.btn-outline-danger:hover{
    color: #FFFFFF;
    background-color: #b65e5ba8;
    border-color: #520906a8;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.card{
    border: none;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #44475A;
}


.play-btn {
    background-color: #8F00FF;
    width: 200px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.play-btn:hover {
    color: #fff;
    background-color: #5b00a1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.play-btn:active {
    transform: scale(0.98);
    border: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 /* #5b00a1 */

.forms-inputs{position: relative}
.forms-inputs span{position: absolute;top:-18px;left: 10px;background-color: #fff;padding: 5px 10px;font-size: 15px}
.forms-inputs input{height: 50px;border: 2px solid #eee}
.forms-inputs input:focus{box-shadow: none;outline: none;border: 2px solid #000}
.btn{height: 50px}
.success-data{display: flex;flex-direction: column}
.bxs-badge-check{font-size: 90px}

.centro{
    display: flex;
    justify-content: center;
}

.betInput {
    width: 100px;
    padding: 8px; 
    border-radius: 8px; 
    border: 2px solid #ccc; 
    background-color: #f9f9f9; 
    font-size: 16px; 
    transition: border 0.3s, box-shadow 0.3s; 
    outline: none; 
}

.betInput:hover {
    border-color: #888;
}

.betInput:focus {
    border-color: #000; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.botaoBet1{
    height: 8vh;
    width: 7vw;
    background-color: #8F00FF;
    font-weight: 900;
    font-family: 'Dela Gothic One', sans-serif;
}
.botaoBet2{
    height: 8vh;
    width: 7vw;
    background-color: #8255A8;
    font-weight: 900;
    font-family: 'Dela Gothic One', sans-serif;
}

.botaoBet3{
    height: 8vh;
    width: 7vw;
    background-color: #f3f3f3;
    color: #AB40FF;
    font-weight: 900;
    font-family: 'Dela Gothic One', sans-serif;
}


.paddingTesao1{
    padding: 0 !important;
    display: flex;
    justify-content: start;
}

.paddingTesao2{
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

.paddingTesao3{
    padding: 0 !important;
    display: flex;
    justify-content: end;
}


.game{
    display: flex;
    align-items: center;
    background-color:#381853;
    padding: 3%;
    height: 45vh;
    width: 50vw;
    border-radius: 10px;
}

.quadrado{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 4rem; /* Tamanho padrão */
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 35vh;
    background-color: #18002C;
    color: #381853;
    font-weight: 900;
    font-style: italic;
    line-height: 100%;
    border-radius: 10px;
}

.teste{
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2rem; /* Tamanho padrão */
    font-weight: 700;
}

.input_monkey{
    background-color: #18002C;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    color: #fcfcfc;
}
.input_monkey::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.espacoTop{
    padding-top: 100px;
}

.aadsadsdsa{
    background-color: #15ff0025;
}